.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f1f3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  width: 60%;
  
}

.swiper-slide:nth-child(2n) {
  width: 60%;
  
}

.swiper-slide:nth-child(3n) {
  width: 60%;
  
}

.greenCard {
  background-color: #f1f3ff !important;
}

.iconArrow {
  width: 28px;
  height: 28px;
}

.iconArrow:hover {
  background-color: #5cb85f;
  color: #fff;
}
