body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bgGreen {
  background-color: #f1f3ff;
}

.bgNav {
  background-color: #f1f3ffd0;
}

.bgBlue {
  background-color: #0d28a6 !important;
}

.mb-section {
  margin-bottom: 100px;
}

.text-hero {
  margin-left: 100px;
}

.pt-hero {
  padding-top: 60px;
}

.filter-container {
  position: relative;
  top: -150px;
  border-radius: 20px;
}

.img-frame {
  width: 270px;
  height: 160px;
}

.desc {
  height: 60px;
}

.feature {
  display: inline;
  margin-left: 20px;
}
